body {
    direction: rtl;
    text-align: right;
    margin: 0;
    padding: 0;
    width: 1187,2px;
    height: 1000px;
  }
  
 
  header {
    list-style: none;
    background: linear-gradient(rgb(144,144,144) 82%, rgb(170,170,170));
    text-align: center;
    width: 100%;
    height: 105px;
}

.horisontal-menu {
  position: relative;
  top: 60px;
  margin-top: 20px;
}

  .horisontal-menu > ul {
    list-style: none;
    background-color: none;
}

  .horisontal-menu > ul > li {
    display: inline;
    padding: 10px;
    /*float: left;*/
  }
  .logotype  {
    right: 500px;
    top: -20px;
    position: absolute;
  }

.horisontal-menu > ul > li > a {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;

}

.horisontal-menu > ul > li > a:hover {
  background-color: rgb(105, 105, 105);
}
.dropdown-menu {
    position: relative;
  }
  .dropdown-menu:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content {
    display: none;
    background-color: rgb(105, 105, 105);
    width: 150px;
    position: absolute;
    right: 0;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    /*top: 0;*/
  }
  .dropdown-content > a {
    text-decoration: none;
    color: blue;
    display: block;
    padding: 10px;
    font-size: 12px;
    padding-top: 5px;
  }
  .main-element {
    width: 900px;
    border: 1px solid black;
    margin: auto;
    height: 100%;

  }
  
  .column {
    float: right;
    width: 33.3%;
    margin: auto;
    margin-top: 20px;
  }

.row1:after {
content: "";
display: table;
clear: both;
}

.row2:after {
  content: "";
  display: table;
  clear: both;
  }



  /*.first-row {
    position: absolute;
  }

  .big-pictures {

    float: right;
    /*padding: 2px;
    top: 20px;
  }

  .small-pictures {
    border:1px solid blue;
    width: 33.3%;
    top: 400px;
    float: right;

  }



  #small-left {
    position: relative;
  
  }
  small-pictures > small-top-picture {
    position: absolute;
    top: 0;
    right: 0;
  }
 */ 

  .horisontal-menu-button > ul {
    list-style: none;
    background-color: none;
    text-align: center;
}

  .horisontal-menu-button > ul > li {
    display: inline;
    /*float: left;*/
  }
  

.horisontal-menu-button > ul > li > a {
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  

}

.horisontal-menu-button > ul > li > a:hover {
  background-color: rgb(105, 105, 105);
  margin-top: -30px;
}


  footer {
 background-color: rgb(155, 155, 155);
width: 100%;
height: 55px;
position: fixed;
bottom: 15px; 
    
  }